
*{
    margin: 0;
    font-family: "Red Hat Text";
}
body{
    min-height: 100vh;
    box-sizing: border-box;
    background-color: hsl(13, 31%, 94%);
    color: hsl(14, 65%, 9%);
}
img{
    max-width: 100%;
}
main{
    display: flex;
    padding: 1.5em;
}
h1{
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 3em;
}
.desserts{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.desserts section{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 327.2px);
    gap: 20px;
}
.product .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product .img> picture{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button, .buttonClicked{
    cursor: pointer;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.addToCartButton, .buttonClicked{
    min-width: 165.52px;
    height: 40.27px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -23px;
    border: 2px solid hsl(7, 20%, 60%);
    font-weight: 600;
}
.addToCartButton ~ .buttonClicked{
    display: none;
}
.addToCartButton.clicked{
    display: none;
}
.addToCartButton.clicked ~ .buttonClicked{
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(14, 86%, 42%);
}
.buttonClicked button{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: none;
    border: 2px solid white;
}
.buttonClicked button:hover{
    background-color: #fff;
}
.buttonClicked button:hover img{
    filter: brightness(0);
    -webkit-filter: brightness(0);
}
.buttonClicked p{
    color: white;
}
.product .shortItemName{
    margin-top: 2rem;
    color: hsl(12, 20%, 44%);
}
.product .itemName{
    margin: .25rem 0;
    font-size: 1.125em;
    font-weight: 600;
}
.product> .itemPrice{
    font-weight: 600;
    color: hsl(14, 86%, 42%);
}

.cart{
    min-width: 330px;
    height: max-content;
    margin-top: 2em;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cart.filledCart{
    gap: 1em;
}
.cart h3{
    color: hsl(14, 86%, 42%);
    font-size: 1.5em;
}
ul{
    margin: 10px 0;
    list-style-type: none;
    padding: 0;
}
.productAdded{
    position: relative;
    display: flex;
    font-size: .875em;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(7, 20%, 60%);
}
.removeProduct{
    width: 15px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border: 2px solid hsl(14, 25%, 72%);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.removeProduct:hover{
    border: 2px solid hsl(12, 20%, 44%);
}
.removeProduct:hover img{
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}
.removeProduct img{
    position: absolute;
}
.productAdded::after:hover{
    background-color: rebeccapurple;
}
.productAdded>div h4{
    margin-bottom: 1em;
}
.productAdded>div>div{
    display: flex;
    gap: 10px;
}
.productAdded>div>div p:first-of-type{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.productAdded>div>div p:last-of-type{
    display: flex;
    gap: 7px;
    color: hsl(12, 20%, 44%);
}

.cart.filledCart> p:last-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart.filledCart> p:last-of-type b{
    font-size: 1.25em;
}
.carbon-free{
    padding: .75em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: hsl(13, 31%, 94%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.confirm{
    padding: 1em;
    background-color: hsl(14, 86%, 42%);
    border: none;
    color: white;
    font-weight: 600;
}

.cart.filledCart .waiting, .cart.notfilledCart :not(.waiting, h3, span), .noDisplay{
    display: none;
}
.cart.filledCart :not(.waiting), .cart.notfilledCart .waiting{
    display: auto;
}
.cart.notfilledCart{
    align-items: center;
    gap: 20px;
}
.cart.notfilledCart h3{
    align-self: flex-start;
}

.product .img button.added{
    justify-content: space-evenly;
    background-color: hsl(14, 86%, 42%);
}
.summatoryButton{
    padding: 5px;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 100px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.summatoryButton:hover{
    background-color: #fff;
}
.summatoryButton:hover img{
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width:1085px) {
    main{
        flex-direction: column;
    }
    .cart{
        margin: 0 auto;
    }
}